html, body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    font-family: 'Karla';
    font-style: normal;
    color: #ffffff;
}

.container {
    margin: 118px 0 0 52px;
}

h1 {
    margin:0px;
    font-family: 'Karla';
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
}

    
.random {
    color: #55F991;;
}

.para{
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
}
.input{
    margin-left: 20px;
    background:none;
    border:2px solid #10B981;
    color: white;
    border-radius: 20px;
}

.btn{
    background:#10B981;
    color: #FFFFFF;
    display:flex;
    /* justify-content: space-around; */
    padding:10px 20px;
    border:none;
    border-radius: 6px;
}
.btn>img{
    margin-right: 10px;
}

.btn:hover {
    color:red;
}

.Pass{
    justify-content: center;
    display: grid;
    grid-template-rows:auto auto;
    grid-template-columns: 500px 500px;
    grid-column-gap:24px;
    /* grid-row-gap: 5px; */
    text-align: center;
    margin-right: 52px;
    
}

.displayPassword {
    background: #273549;
    border-radius: 8px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
    border: none;
    margin-bottom: 10px;
}

.flex-items{
    display:flex;
    margin-bottom: 45px;
}


.subtitle {
    color: #D5D4D8;
    margin-bottom: 51px;
}